@media all and (max-width: 688px) {
  .table-text {
    font-size: 10px;
  }
  .product-model {
    display: none;
  }
  .dashboard-sectionTitle {
    font-size: 20px;
  }
  .dashboard-orderTitle {
    font-size: 15px;
  }
}
