.Add-Booking form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
.Add-Booking form input{
    width: 30%;
    margin-bottom: 10px;
    text-align: center;
}
.Add-Booking form  textarea{
    width: 30%;
    margin-bottom: 10px;
    text-align: center;
}

.Add-Booking{
    margin-top: 50px;
    margin-bottom: 50px;
}